node_modules
dist
config.js
configold.js
*.log
logs/
.env
scripts/output/
scripts/local/

# Docker
.dockerignore
env.local
env.dev
env.prod
azure*
docker*
APIM.MD
docs*
!docs/
docs/*
!docs/internal-api.yaml
!docs/dxgptapi-dev-yaml
!docs/dxgptapi-prod.yaml
deploy*